/**
 * 覆盖 dumi 默认主题样式，本文件在 DocLayout 中于默认 theme 的 less 之后加载，故无需 !important。
 */

.dumi-default-doc-layout > main {
  margin: 0;
  padding: 0;
  max-width: none;
}
.dumi-default-content {
  margin-bottom: 0px !important;
}

footer {
  box-shadow: 0 1000px 0 100px #fff
}