.ant-bubble-system {
  display: none;
}
.x-markdown {
  img {
    max-width: 200px;
  }
  h2 {
    margin:0
  }
  ul {
    padding-left: 0;
  }
  pre code {
    line-height: normal;
    background-color: transparent !important;
  }
}

.chatHeader {
  height: 52px;
  box-sizing: border-box;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 0 10px 0 16px;
  font-weight: 600;
  font-size: 15px;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.ant-bubble-content-filled {
  background: linear-gradient(135deg, rgb(242, 249, 254) 0%, rgb(247, 243, 255) 100%);
  transform: scale(0.95);
}