.ant-bubble-system {
  display: none;
}
.x-markdown {
  img {
    max-width: 200px;
  }
}

.chatHeader {
  height: 52px;
  box-sizing: border-box;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 0 10px 0 16px;
  font-weight: 600;
  font-size: 15px;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
