@font-face {
  font-family: 'antoutline';
  src: url('../node_modules/@ant-design/icons-react-native/fonts/antoutline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'antfill';
  src: url('../node_modules/@ant-design/icons-react-native/fonts/antfill.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}